


/*Body*/

body {
    background-image: url("yessir.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.navigation-menu-button {
       top:11%;
       left:55%;
       width:100px;
       height:40px;
       position: absolute;
       z-index: 2;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(255, 173, 50, 0.517);
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 16px;
    color: #D3D3D3;
}
    
.navigation-menu-button:hover {
    color:rgba(255, 173, 50, 0.517);
}
    
    .navigation-menu-buttonn {
       top:11%;
       left:35%;
       width:100px;
       height:40px;
       position: absolute;
       z-index: 2;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(255, 173, 50, 0.517);
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 16px;
    color: #D3D3D3;
}
        
.navigation-menu-buttonn:hover {
    color:rgba(255, 173, 50, 0.517);
}


