



/*Body*/

	body {
		background-image: url("yessir.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		background-attachment: fixed;
		padding: 100px 100px 100px 100px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:16px;
		color: #A3A3A3;
		font-variant: small-caps;
	}



	.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

	.button:hover {
		color:rgba(255, 173, 50, 0.517);
	}

	/*Navigation Menu*/

/*End Title*/





		color: #A3A3A3;
	}

